<div class="card">
  <div class="card-body ms-3">
    <h5 class="card-title bg-primary text-light p-3">Create Article</h5>
    <form class='form article-form'>
      <div class="mb-3">
        <label for="create-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="create-title" aria-describedby="userNameHelp">
      </div>
      <div class="mb-3">
        <label for="create-content" class="form-label">Content</label>
        <textarea class="form-control" id="create-content">
        </textarea>
      <button type="submit" class="btn btn-primary mt-2">Post Article</button>
    </form>
  </div>
</div>

<script src='./scripts/dashboard.js'></script>