<!-- Signup -->
    <div class="card">
        <div class="card-body ms-3">
            <h5 class="card-title bg-primary text-light p-3">Signup!</h5>
            <form class='form signup-form'>
            <div class="mb-3">
                <label for="signup-userName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="signup-userName" aria-describedby="userNameHelp">
            </div>
            <div class="mb-3">
                <label for="signup-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="signup-password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script src='./scripts/signup.js'></script>